<div class="overlay"></div>
<div class="newform">
  <%= form_for :film, :url => { :action => "create" }, :remote => true do |f| %>
	<%= f.text_field :title, :autofocus => true, :autocomplete => :off, :maxlength => "75" %>
	<%= f.submit :class => "submit" %>
  <% end %>
</div>

<%= render :partial => "header" %>

<div id="container">

	<ul class="content">
		<%= render :partial => "film", :collection => @films %>
	</ul>

</div>