<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @film.status == true %>
  <div class="status watched">
<% else %>  
  <div class="status">
<% end %>
    <%= link_to("", { :action => "watch_toggle", :method => :put}, :remote=> true , :class => "text" )  %>
  </div>

  <%= f.text_field :title, :placeholder => "Title" %>
  
  <div class="dateselect">
    <%= f.date_select :date, :prompt => {:month => 'Month', :day => '#', :year => 'Year'}, :order => [:day, :month, :year] %>
  </div>
  
  <%= f.submit :value => "Save", :class => "submit" %>


<% end %>
