<header class="condensed">
  <ul>
    <li class="backbtn"><%= link_to "", "/all", :class => "back" %></li>
    <li class="deletebtn"><%= link_to "", @film, :remote => true, :class => "delete"  %>
      <ul class="confirm">
        <li>Delete?</li>
        <li><%= link_to "Yes", @film, method: :delete, :class => "yes" %></li>
        <li><%= link_to "No", @film, :remote => true, :class => "no" %></li>
      </ul>
    </li>
  </ul>
</header>

<div id="container" class="relative">

<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @film.status == true %>
  <div class="status watched">
<% else %>  
  <div class="status">
<% end %>
    <%= link_to("", { :action => "watch_toggle", :method => :put}, :remote=> true , :class => "text" )  %>
  </div>

  <%= f.text_field :title, :placeholder => "Title", :autocomplete => :off, :maxlength => "75" %>
  
  <div class="dateselect">
    <%= f.date_select :date, :prompt => {:month => 'Mon', :day => 'D', :year => 'Year'}, :order => [:day, :month, :year], :use_short_month => true %>
  </div>
  
  <%= f.submit :value => "Save", :class => "submit" %>

  <div class="alert title">A title is required</div>
  <div class="alert date">Saving a date requires all fields</div>
  

<% end %>

</div>