<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <title>Zeitgeist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" %>
</head>
<body class="<%= controller_name -%>">

	<header>
		<ul>
			
			<li class="films"><a href="/all">Films</a></li>
		</ul>
	</header>

	<div id="container">

		<%= yield %>

	</div>

</body>
</html>
